{
  "openapi": "3.1.0",
  "info": {
    "title": "API Synelia Cloud",
    "version": "1.0.0",
    "summary": "Contrat backend du portail Synelia Cloud : vitrine, espace client, espace fournisseur.",
    "description": "Contrat d'interface du backend de **Synelia Cloud** — la plateforme multi-tenant\nqui porte la vitrine, l'espace client et l'espace fournisseur.\n\nCette spécification décrit **ce que le portail attend du backend**, groupe par\ngroupe d'écrans. Elle ne présume rien de l'implémentation : les hyperviseurs, les\norchestrateurs et les solutions amont restent derrière ces points d'entrée.\n\n### Conventions\n\n- **Base** : `/v1`. Toute réponse est en `application/json; charset=utf-8`.\n- **Langue** : les noms de champs et les libellés sont en français, comme le\n  modèle de données du portail. Les messages d'erreur sont affichables tels quels.\n- **Montants** : entiers en francs CFA (XOF), hors taxes sauf mention contraire.\n  Le portail applique lui-même la TVA à 18 %.\n- **Dates** : ISO 8601 en UTC (`2026-08-19T15:20:00Z`).\n- **Collections** : enveloppe `{ donnees, pagination }`. Paramètres communs\n  `page`, `parPage`, `tri`, `ordre`, `q`.\n- **Ressource unique** : l'objet est retourné à la racine, sans enveloppe.\n- **Opérations longues** : réponse `202` portant un `ProvisioningJob`. Le portail\n  suit l'avancement tâche par tâche via `GET /jobs/{jobId}`.\n- **Erreurs** : `{ erreur: { code, message, correlationId } }`. Le\n  `correlationId` est présent sur toute erreur et se cite au support.\n- **Secrets** : mots de passe, clés privées et jetons ne sont retournés qu'à la\n  création. Ensuite, seule leur existence est exposée.\n\n### Portée et multi-tenancy\n\nL'access token porte l'organisation active. Toute collection est donc\nimplicitement filtrée sur cette organisation : `GET /vms` ne retourne jamais les\nmachines d'un autre tenant. Les points d'entrée `/admin/**` sont réservés aux\nrôles fournisseur et voient toutes les organisations ; ceux sous `/public/**`\nsont ouverts sans authentification et servent la vitrine.\n\n### Autorisations\n\nChaque opération soumise à la matrice RBAC porte l'extension `x-rbac` avec\nl'identifiant d'action correspondant (ex. `vm.create_delete`). Un refus retourne\n`403` avec `roleRequis` : le portail désactive l'action et nomme le rôle attendu\nplutôt que de masquer le bouton. Tout refus est journalisé dans l'audit.\n\n### Ce que l'API ne fait pas\n\nLe portail ne réimplémente aucun produit externe : ni webmail, ni explorateur de\nfichiers, ni écran métier, ni éditeur de contenu, ni constructeur de requêtes de\njournaux. L'API expose donc des points d'entrée d'**ouverture** (`POST\n/services/{id}/ouverture`) et des **liens de sortie** vers les outils amont, pas\nleur contenu.",
    "contact": {
      "name": "Synelia",
      "url": "https://synelia.tech"
    },
    "license": {
      "name": "Propriétaire",
      "identifier": "LicenseRef-Synelia-Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.synelia.cloud/v1",
      "description": "Production"
    },
    {
      "url": "https://api.recette.synelia.cloud/v1",
      "description": "Recette"
    },
    {
      "url": "http://localhost:8000/v1",
      "description": "Développement local"
    }
  ],
  "tags": [
    {
      "name": "Authentification",
      "description": "Connexion par mot de passe ou fédération, second facteur, inscription, invitations, contexte de l'utilisateur."
    },
    {
      "name": "Organisation & membres",
      "description": "Organisation, membres, rôles et périmètres, invitations, fédération d'identité, matrice RBAC."
    },
    {
      "name": "Espaces Cloud",
      "description": "Espaces Cloud : quotas, plage réseau, placement sur les backends, consommation."
    },
    {
      "name": "Calcul",
      "description": "Machines virtuelles, matériel virtuel, alimentation, console, migration, instantanés, gabarits et images."
    },
    {
      "name": "Kubernetes",
      "description": "Clusters managés : plan de contrôle, pools de nœuds, modules, montée de version, kubeconfig."
    },
    {
      "name": "Réseau",
      "description": "Réseaux privés, adresses publiques, groupes de sécurité, tunnels VPN, load balancers, certificats."
    },
    {
      "name": "Stockage",
      "description": "Volumes bloc, stockage objet compatible S3, clés d'accès."
    },
    {
      "name": "Bases de données",
      "description": "Bases managées : dimensionnement, haute disponibilité, identifiants, restauration à un instant donné."
    },
    {
      "name": "Sauvegarde & PRA",
      "description": "Plans de sauvegarde, points de restauration, conformité 3-2-1, plans de reprise et bascules."
    },
    {
      "name": "Plateforme applicative",
      "description": "Applications, environnements, composants, variables et secrets, déploiements, anomalies, copilote."
    },
    {
      "name": "Projets applicatifs",
      "description": "Projets, services typés, variables partagées, zone applicative et domaines applicatifs."
    },
    {
      "name": "Bibliothèque de modèles",
      "description": "Modèles applicatifs prêts à déployer, avec version qualifiée, dépendances et périmètre."
    },
    {
      "name": "Marketplace",
      "description": "Catalogue des services managés, souscription, dimensionnement, SSO, sièges, versions, réversibilité."
    },
    {
      "name": "Web Cloud",
      "description": "Hébergement mutualisé : serveur, sites, bases, comptes de transfert, tâches planifiées, services partagés."
    },
    {
      "name": "Domaines & DNS",
      "description": "Achat et transfert de domaines, zones DNS, enregistrements, modèles et contrôles de cohérence."
    },
    {
      "name": "Relais SMTP",
      "description": "Clés d'envoi, quotas, réputation, journal de livraison, webhooks, authentification du domaine."
    },
    {
      "name": "Facturation",
      "description": "Offres, souscriptions, factures, devis, moyens de paiement, consommation et showback."
    },
    {
      "name": "Support",
      "description": "Tickets et messages, engagements SLA et crédits, base de connaissance."
    },
    {
      "name": "Observabilité",
      "description": "Métriques, événements de supervision, aperçu de journal, règles d'alerte, liens de sortie."
    },
    {
      "name": "Audit & jobs",
      "description": "Journal d'audit, attestations, exports de conformité, suivi des jobs de provisionnement."
    },
    {
      "name": "Tableaux de bord",
      "description": "Agrégats de l'espace client, recherche globale, prise en main."
    },
    {
      "name": "Fournisseur — pilotage",
      "description": "Tableau de bord plateforme, organisations, sessions d'assistance."
    },
    {
      "name": "Fournisseur — capacité",
      "description": "Backends, capacité et saturation, sites, santé de la plateforme, migrations."
    },
    {
      "name": "Fournisseur — parc & catalogue",
      "description": "Parc d'instances, campagnes de mise à jour, offres, services et modèles du catalogue."
    },
    {
      "name": "Fournisseur — revendeurs",
      "description": "Revendeurs, marque blanche, grilles tarifaires, revenus partagés."
    },
    {
      "name": "Fournisseur — finance",
      "description": "Cycles de facturation, impayés, marges par backend, tickets et demandes entrantes."
    },
    {
      "name": "Fournisseur — équipe & conformité",
      "description": "Équipe Synelia, élévation de privilèges, conformité, audit et statut publié."
    },
    {
      "name": "Vitrine",
      "description": "Points d'entrée publics : statut, tarifs, simulateur, fiches produit, contenus, demandes entrantes."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/auth/connexion": {
      "post": {
        "tags": [
          "Authentification"
        ],
        "summary": "Ouvrir une session par mot de passe",
        "operationId": "connexion",
        "description": "Retourne un couple de jetons, ou `mfaRequis = true` s'il faut un second facteur. Si l'utilisateur appartient à plusieurs organisations, `organisations` est renseigné et le portail affiche l'écran de sélection.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnexionDemande"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionAuth"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": []
      }
    },
    "/auth/mfa": {
      "post": {
        "tags": [
          "Authentification"
        ],
        "summary": "Vérifier le second facteur",
        "operationId": "verifierMfa",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MfaVerification"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionAuth"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": []
      }
    },
    "/auth/sso/decouverte": {
      "get": {
        "tags": [
          "Authentification"
        ],
        "summary": "Découvrir le fournisseur d'identité d'un domaine",
        "operationId": "decouvrirSso",
        "description": "Alimente l'écran « Se connecter avec le SSO de mon organisation » : le portail demande un domaine, puis affiche le fournisseur trouvé ou explique qu'aucun n'est déclaré.",
        "parameters": [
          {
            "name": "domaine",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Domaine de messagerie de l'organisation.",
            "example": "dba.africa"
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trouve": {
                      "type": "boolean"
                    },
                    "fournisseur": {
                      "$ref": "#/components/schemas/FournisseurIdentite"
                    },
                    "message": {
                      "type": "string",
                      "description": "Phrase à afficher quand aucun fournisseur n'est déclaré."
                    }
                  },
                  "required": [
                    "trouve"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": []
      }
    },
    "/auth/sso/callback": {
      "post": {
        "tags": [
          "Authentification"
        ],
        "summary": "Terminer une connexion fédérée",
        "operationId": "callbackSso",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SsoCallbackDemande"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionAuth"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": []
      }
    },
    "/auth/rafraichir": {
      "post": {
        "tags": [
          "Authentification"
        ],
        "summary": "Rafraîchir l'access token",
        "operationId": "rafraichirSession",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RafraichissementDemande"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionAuth"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": []
      }
    },
    "/auth/deconnexion": {
      "post": {
        "tags": [
          "Authentification"
        ],
        "summary": "Fermer la session",
        "operationId": "deconnexion",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RafraichissementDemande"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Supprimé. Aucun corps de réponse."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/auth/organisation": {
      "post": {
        "tags": [
          "Authentification"
        ],
        "summary": "Choisir l'organisation active",
        "operationId": "choisirOrganisation",
        "description": "Émet un nouvel access token portant l'organisation et le rôle retenus.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectionOrganisation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionAuth"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/inscriptions/organisation": {
      "post": {
        "tags": [
          "Authentification"
        ],
        "summary": "Créer une organisation et son premier administrateur",
        "operationId": "inscrireOrganisation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InscriptionOrganisation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionAuth"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": []
      }
    },
    "/invitations/{token}": {
      "get": {
        "tags": [
          "Authentification"
        ],
        "summary": "Lire une invitation",
        "operationId": "lireInvitation",
        "description": "Sert l'écran d'invitation : qui invite, dans quelle organisation, avec quel rôle.",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "Jeton du lien d'invitation.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": []
      }
    },
    "/invitations/{token}/acceptation": {
      "post": {
        "tags": [
          "Authentification"
        ],
        "summary": "Accepter une invitation",
        "operationId": "accepterInvitation",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "Jeton du lien d'invitation.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nom": {
                    "type": "string"
                  },
                  "motDePasse": {
                    "type": "string",
                    "description": "Requis si le compte n'existe pas encore."
                  }
                },
                "description": "Complète le compte quand l'invité n'en a pas.",
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionAuth"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": []
      }
    },
    "/invitations/{token}/refus": {
      "post": {
        "tags": [
          "Authentification"
        ],
        "summary": "Refuser une invitation",
        "operationId": "refuserInvitation",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "Jeton du lien d'invitation.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Supprimé. Aucun corps de réponse."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": []
      }
    },
    "/moi": {
      "get": {
        "tags": [
          "Authentification"
        ],
        "summary": "Contexte de l'utilisateur connecté",
        "operationId": "monContexte",
        "description": "Première requête de l'espace client et de l'espace fournisseur : identité, organisation active, rôle, permissions effectives, espace par défaut. Le portail en tire l'activation ou la désactivation de chaque action.",
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContexteUtilisateur"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "Authentification"
        ],
        "summary": "Modifier son profil",
        "operationId": "majMonProfil",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nom": {
                    "type": "string"
                  },
                  "fonction": {
                    "type": "string"
                  },
                  "mfaEnabled": {
                    "type": "boolean"
                  },
                  "langue": {
                    "type": "string",
                    "enum": [
                      "fr",
                      "en"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/moi/organisations": {
      "get": {
        "tags": [
          "Authentification"
        ],
        "summary": "Organisations de l'utilisateur",
        "operationId": "mesOrganisations",
        "description": "Sert l'écran de sélection d'organisation.",
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "org": {
                        "$ref": "#/components/schemas/Organisation"
                      },
                      "role": {
                        "$ref": "#/components/schemas/Role"
                      }
                    },
                    "required": [
                      "org",
                      "role"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/moi/mot-de-passe": {
      "put": {
        "tags": [
          "Authentification"
        ],
        "summary": "Changer son mot de passe",
        "operationId": "changerMotDePasse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actuel": {
                    "type": "string"
                  },
                  "nouveau": {
                    "type": "string"
                  }
                },
                "required": [
                  "actuel",
                  "nouveau"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Supprimé. Aucun corps de réponse."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/moi/mfa": {
      "post": {
        "tags": [
          "Authentification"
        ],
        "summary": "Activer un second facteur",
        "operationId": "activerMfa",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "methode": {
                    "type": "string",
                    "enum": [
                      "totp",
                      "sms"
                    ]
                  },
                  "telephone": {
                    "type": "string"
                  }
                },
                "required": [
                  "methode"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "secret": {
                      "type": "string"
                    },
                    "otpauthUrl": {
                      "type": "string"
                    },
                    "codesSecours": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "description": "Éléments d'enrôlement, à confirmer par `POST /auth/mfa`.",
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "Authentification"
        ],
        "summary": "Désactiver le second facteur",
        "operationId": "desactiverMfa",
        "responses": {
          "204": {
            "description": "Supprimé. Aucun corps de réponse."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/rbac/matrice": {
      "get": {
        "tags": [
          "Organisation & membres"
        ],
        "summary": "Matrice RBAC complète",
        "operationId": "matriceRbac",
        "description": "Actions, groupes et permission par rôle. Sert l'écran de gestion des rôles et l'infobulle qui nomme le rôle requis sur une action désactivée.",
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "roles": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Role"
                      }
                    },
                    "actions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActionRbac"
                      }
                    },
                    "groupes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "roles",
                    "actions",
                    "groupes"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/organisations/{orgId}": {
      "get": {
        "tags": [
          "Organisation & membres"
        ],
        "summary": "Lire une organisation",
        "operationId": "lireOrganisation",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organisation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "Organisation & membres"
        ],
        "summary": "Modifier une organisation",
        "operationId": "majOrganisation",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganisationMaj"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organisation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "org.dashboard.view"
      }
    },
    "/organisations/{orgId}/membres": {
      "get": {
        "tags": [
          "Organisation & membres"
        ],
        "summary": "Membres de l'organisation",
        "operationId": "listerMembres",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgIdPath"
          },
          {
            "name": "role",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Role"
            },
            "description": "Filtrer sur un rôle."
          },
          {
            "name": "statut",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "actif",
                "invite",
                "suspendu"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/ParPage"
          },
          {
            "$ref": "#/components/parameters/Tri"
          },
          {
            "$ref": "#/components/parameters/Ordre"
          },
          {
            "$ref": "#/components/parameters/Recherche"
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "donnees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MembreOrganisation"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "required": [
                    "donnees",
                    "pagination"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/organisations/{orgId}/membres/{userId}": {
      "get": {
        "tags": [
          "Organisation & membres"
        ],
        "summary": "Lire un membre",
        "operationId": "lireMembre",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgIdPath"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "Identifiant de l'utilisateur.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembreOrganisation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "Organisation & membres"
        ],
        "summary": "Retirer un membre",
        "operationId": "retirerMembre",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgIdPath"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "Identifiant de l'utilisateur.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Supprimé. Aucun corps de réponse."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "member.invite"
      }
    },
    "/organisations/{orgId}/membres/{userId}/memberships": {
      "post": {
        "tags": [
          "Organisation & membres"
        ],
        "summary": "Attribuer un rôle sur un périmètre",
        "operationId": "ajouterMembership",
        "description": "Un utilisateur peut porter plusieurs rôles, chacun sur un périmètre différent : organisation, espace, application ou service.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgIdPath"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "Identifiant de l'utilisateur.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipMaj"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Membership"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "member.invite"
      }
    },
    "/organisations/{orgId}/memberships/{membershipId}": {
      "patch": {
        "tags": [
          "Organisation & membres"
        ],
        "summary": "Modifier un rôle",
        "operationId": "majMembership",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgIdPath"
          },
          {
            "name": "membershipId",
            "in": "path",
            "required": true,
            "description": "Identifiant du membership.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipMaj"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Membership"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "member.invite"
      },
      "delete": {
        "tags": [
          "Organisation & membres"
        ],
        "summary": "Supprimer un rôle",
        "operationId": "supprimerMembership",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgIdPath"
          },
          {
            "name": "membershipId",
            "in": "path",
            "required": true,
            "description": "Identifiant du membership.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Supprimé. Aucun corps de réponse."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "member.invite"
      }
    },
    "/organisations/{orgId}/invitations": {
      "get": {
        "tags": [
          "Organisation & membres"
        ],
        "summary": "Invitations en cours",
        "operationId": "listerInvitations",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgIdPath"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/ParPage"
          },
          {
            "$ref": "#/components/parameters/Tri"
          },
          {
            "$ref": "#/components/parameters/Ordre"
          },
          {
            "$ref": "#/components/parameters/Recherche"
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "donnees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invitation"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "required": [
                    "donnees",
                    "pagination"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "Organisation & membres"
        ],
        "summary": "Inviter un membre",
        "operationId": "inviterMembre",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationCreation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "member.invite"
      }
    },
    "/organisations/{orgId}/invitations/{invitationId}": {
      "delete": {
        "tags": [
          "Organisation & membres"
        ],
        "summary": "Révoquer une invitation",
        "operationId": "revoquerInvitation",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgIdPath"
          },
          {
            "name": "invitationId",
            "in": "path",
            "required": true,
            "description": "Identifiant de l'invitation.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Supprimé. Aucun corps de réponse."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "member.invite"
      }
    },
    "/organisations/{orgId}/invitations/{invitationId}/relance": {
      "post": {
        "tags": [
          "Organisation & membres"
        ],
        "summary": "Relancer une invitation",
        "operationId": "relancerInvitation",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgIdPath"
          },
          {
            "name": "invitationId",
            "in": "path",
            "required": true,
            "description": "Identifiant de l'invitation.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "member.invite"
      }
    },
    "/organisations/{orgId}/federation": {
      "get": {
        "tags": [
          "Organisation & membres"
        ],
        "summary": "Configuration de la fédération d'identité",
        "operationId": "lireFederation",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FournisseurIdentite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "sso.configure"
      },
      "put": {
        "tags": [
          "Organisation & membres"
        ],
        "summary": "Configurer la fédération d'identité",
        "operationId": "configurerFederation",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgIdPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FederationConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FournisseurIdentite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "sso.configure"
      },
      "delete": {
        "tags": [
          "Organisation & membres"
        ],
        "summary": "Retirer la fédération d'identité",
        "operationId": "supprimerFederation",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgIdPath"
          }
        ],
        "responses": {
          "204": {
            "description": "Supprimé. Aucun corps de réponse."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "sso.configure"
      }
    },
    "/organisations/{orgId}/federation/test": {
      "post": {
        "tags": [
          "Organisation & membres"
        ],
        "summary": "Tester la fédération",
        "operationId": "testerFederation",
        "description": "Vérifie la joignabilité du fournisseur et la lisibilité des métadonnées, sans ouvrir de session.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "succes": {
                      "type": "boolean"
                    },
                    "etapes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "nom": {
                            "type": "string"
                          },
                          "succes": {
                            "type": "boolean"
                          },
                          "detail": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "nom",
                          "succes"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "correlationId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "succes",
                    "etapes"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "sso.configure"
      }
    },
    "/espaces": {
      "get": {
        "tags": [
          "Espaces Cloud"
        ],
        "summary": "Lister les Espaces Cloud",
        "operationId": "listerEspaces",
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Site"
            },
            "description": "Restreindre à un site."
          },
          {
            "name": "statut",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "suspendue",
                "provisioning"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/ParPage"
          },
          {
            "$ref": "#/components/parameters/Tri"
          },
          {
            "$ref": "#/components/parameters/Ordre"
          },
          {
            "$ref": "#/components/parameters/Recherche"
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "donnees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EspaceCloud"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "required": [
                    "donnees",
                    "pagination"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "Espaces Cloud"
        ],
        "summary": "Créer un Espace Cloud",
        "operationId": "creerEspace",
        "description": "Assistant en cinq étapes du portail : offre, site, réseau, options, récapitulatif. Le provisionnement est asynchrone.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EspaceCreation"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Provisionnement engagé. Suivre l'avancement via le job retourné.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisioningJob"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "espace.create"
      }
    },
    "/espaces/{espaceId}": {
      "get": {
        "tags": [
          "Espaces Cloud"
        ],
        "summary": "Lire un Espace Cloud",
        "operationId": "lireEspace",
        "parameters": [
          {
            "name": "espaceId",
            "in": "path",
            "required": true,
            "description": "Identifiant ou code de l'espace.",
            "schema": {
              "type": "string"
            },
            "example": "EC-DBA-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EspaceCloud"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "Espaces Cloud"
        ],
        "summary": "Modifier un Espace Cloud",
        "operationId": "majEspace",
        "description": "Sert notamment la modification de quota, qui déclenche une vérification de capacité côté backend.",
        "parameters": [
          {
            "name": "espaceId",
            "in": "path",
            "required": true,
            "description": "Identifiant de l'espace.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EspaceMaj"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EspaceCloud"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "espace.quota.update"
      },
      "delete": {
        "tags": [
          "Espaces Cloud"
        ],
        "summary": "Supprimer un Espace Cloud",
        "operationId": "supprimerEspace",
        "description": "Refusé tant que l'espace porte des ressources. Le corps de l'erreur 409 énumère ce qui bloque.",
        "parameters": [
          {
            "name": "espaceId",
            "in": "path",
            "required": true,
            "description": "Identifiant de l'espace.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisioningJob"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "espace.create"
      }
    },
    "/espaces/{espaceId}/placements": {
      "get": {
        "tags": [
          "Espaces Cloud"
        ],
        "summary": "Répartition de l'espace entre backends",
        "operationId": "listerPlacements",
        "parameters": [
          {
            "name": "espaceId",
            "in": "path",
            "required": true,
            "description": "Identifiant de l'espace.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Placement"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "put": {
        "tags": [
          "Espaces Cloud"
        ],
        "summary": "Modifier la répartition entre backends",
        "operationId": "majPlacements",
        "parameters": [
          {
            "name": "espaceId",
            "in": "path",
            "required": true,
            "description": "Identifiant de l'espace.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlacementsMaj"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Placement"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "capacity.manage"
      }
    },
    "/espaces/{espaceId}/consommation": {
      "get": {
        "tags": [
          "Espaces Cloud"
        ],
        "summary": "Consommation d'un espace",
        "operationId": "consommationEspace",
        "parameters": [
          {
            "name": "espaceId",
            "in": "path",
            "required": true,
            "description": "Identifiant de l'espace.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Depuis"
          },
          {
            "$ref": "#/components/parameters/Jusqua"
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jours": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConsommationJour"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Montant en francs CFA, entier, hors taxes sauf mention contraire."
                    }
                  },
                  "required": [
                    "jours",
                    "total"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/vms": {
      "get": {
        "tags": [
          "Calcul"
        ],
        "summary": "Lister les machines virtuelles",
        "operationId": "listerVms",
        "parameters": [
          {
            "name": "espaceId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Restreindre à un Espace Cloud."
          },
          {
            "name": "site",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Site"
            },
            "description": "Restreindre à un site."
          },
          {
            "name": "statut",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "running",
                "stopped",
                "creating",
                "error",
                "migrating"
              ]
            }
          },
          {
            "name": "applicationId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Machines rattachées à une application."
          },
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filtrer sur une étiquette."
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/ParPage"
          },
          {
            "$ref": "#/components/parameters/Tri"
          },
          {
            "$ref": "#/components/parameters/Ordre"
          },
          {
            "$ref": "#/components/parameters/Recherche"
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "donnees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VM"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  },
                  "required": [
                    "donnees",
                    "pagination"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "Calcul"
        ],
        "summary": "Créer une ou plusieurs machines",
        "operationId": "creerVm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VmCreation"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisioningJob"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "vm.create_delete"
      }
    },
    "/vms/{vmId}": {
      "get": {
        "tags": [
          "Calcul"
        ],
        "summary": "Lire une machine",
        "operationId": "lireVm",
        "parameters": [
          {
            "name": "vmId",
            "in": "path",
            "required": true,
            "description": "Identifiant de la machine.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VM"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "Calcul"
        ],
        "summary": "Modifier une machine",
        "operationId": "majVm",
        "description": "Le redimensionnement du matériel virtuel peut exiger un arrêt : la réponse 409 le dit explicitement.",
        "parameters": [
          {
            "name": "vmId",
            "in": "path",
            "required": true,
            "description": "Identifiant de la machine.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VmMaj"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VM"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "vm.hardware.update"
      },
      "delete": {
        "tags": [
          "Calcul"
        ],
        "summary": "Supprimer une machine",
        "operationId": "supprimerVm",
        "parameters": [
          {
            "name": "vmId",
            "in": "path",
            "required": true,
            "description": "Identifiant de la machine.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conserverSauvegardes",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Conserver les points de restauration existants."
          }
        ],
        "responses": {
          "202": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisioningJob"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "vm.create_delete"
      }
    },
    "/vms/{vmId}/alimentation": {
      "post": {
        "tags": [
          "Calcul"
        ],
        "summary": "Démarrer, arrêter ou redémarrer une machine",
        "operationId": "alimentationVm",
        "parameters": [
          {
            "name": "vmId",
            "in": "path",
            "required": true,
            "description": "Identifiant de la machine.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "demarrer",
                      "arreter",
                      "redemarrer",
                      "arret_force",
                      "suspendre"
                    ]
                  },
                  "motif": {
                    "type": "string"
                  }
                },
                "required": [
                  "action"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisioningJob"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "vm.power"
      }
    },
    "/vms/{vmId}/console": {
      "post": {
        "tags": [
          "Calcul"
        ],
        "summary": "Ouvrir une console",
        "operationId": "consoleVm",
        "description": "Retourne une URL de console à durée de vie courte, servie par le backend. Le portail n'implémente pas de terminal.",
        "parameters": [
          {
            "name": "vmId",
            "in": "path",
            "required": true,
            "description": "Identifiant de la machine.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "protocole": {
                      "type": "string",
                      "enum": [
                        "vnc",
                        "spice",
                        "serie"
                      ]
                    },
                    "expireLe": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "url",
                    "protocole",
                    "expireLe"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "vm.power"
      }
    },
    "/vms/{vmId}/migration": {
      "post": {
        "tags": [
          "Calcul"
        ],
        "summary": "Migrer une machine vers un autre backend",
        "operationId": "migrerVm",
        "parameters": [
          {
            "name": "vmId",
            "in": "path",
            "required": true,
            "description": "Identifiant de la machine.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "backendCible": {
                    "type": "string"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "a_froid",
                      "a_chaud"
                    ]
                  },
                  "fenetre": {
                    "type": "string"
                  }
                },
                "required": [
                  "backendCible",
                  "mode"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisioningJob"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "capacity.manage"
      }
    },
    "/vms/{vmId}/snapshots": {
      "get": {
        "tags": [
          "Calcul"
        ],
        "summary": "Instantanés d'une machine",
        "operationId": "listerSnapshotsVm",
        "parameters": [
          {
            "name": "vmId",
            "in": "path",
            "required": true,
            "description": "Identifiant de la machine.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RestorePoint"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "tags": [
          "Calcul"
        ],
        "summary": "Prendre un instantané",
        "operationId": "creerSnapshotVm",
        "parameters": [
          {
            "name": "vmId",
            "in": "path",
            "required": true,
            "description": "Identifiant de la machine.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "libelle": {
                    "type": "string"
                  },
                  "avecMemoire": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "libelle"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisioningJob"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "x-rbac": "backup.plan.write"
      }
    },
    "/flavors": {
      "get": {
        "tags": [
          "Calcul"
        ],
        "summary": "Gabarits de machines disponibles",
        "operationId": "listerFlavors",
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Site"
            },
            "description": "Restreindre à un site."
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string"
                      },
                      "nom": {
                        "type": "string"
                      },
                      "vcpu": {
                        "type": "integer"
                      },
                      "ramGo": {
                        "type": "integer"
                      },
                      "diskGo": {
                        "type": "integer"
                      },
                      "prixMois": {
                        "type": "integer",
                        "description": "Montant en francs CFA, entier, hors taxes sauf mention contraire."
                      },
                      "sites": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Site"
                        }
                      }
                    },
                    "required": [
                      "code",
                      "nom",
                      "vcpu",
                      "ramGo",
                      "diskGo",
                      "prixMois"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/images": {
      "get": {
        "tags": [
          "Calcul"
        ],
        "summary": "Images système disponibles",
        "operationId": "listerImages",
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Site"
            },
            "description": "Restreindre à un site."
          },
          {
            "name": "famille",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Ex. `linux`, `windows`."
          }
        ],
        "responses": {
          "200": {
            "description": "Succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "nom": {
                        "type": "string"
                      },
                      "famille": {
                        "type": "string"
                      },
                      "version": {
                        "type": "string"
                      },
                      "architecture": {
                        "type": "string"
                      },
                      "tailleGo": {
                        "type": "number"
                      },
                      "licenceRequise": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "id",
[...]
